@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
  --accent: #71717a; /* Un gris suave para detalles */
}

@layer base {
  body {
    @apply bg-white text-zinc-900 antialiased selection:bg-black selection:text-white;
    font-family: ui-sans-serif, system-ui, sans-serif;
  }
}
